{% extends 'dashboard_base.html' %}
{% block breadcrumb_extra %}
<span class="breadcrumb-current">My Vehicles</span>
{% endblock %}
{% block page_content %}
        <div class="page-header">
          <div class="page-header-flex">
            <div><h1 class="page-title">My Vehicles</h1><p class="page-sub">Manage your registered vehicles and QR codes</p></div>
            <a href="/add_vehicle"><button class="btn btn-primary btn-sm">+ Add New Vehicle</button></a>
          </div>
        </div>
        <div class="table-wrap">
          <div class="table-header">
            <div>
              <div class="table-title">Vehicle Registry</div>
              <div style="font-size:12px;color:var(--text-muted);margin-top:2px;">{{ total_vehicles }} Total </div>
            </div>
            <div class="table-actions">
              <form action="" method="Get">
                {% csrf_token %}
                <input placeholder="Search vehicles..." style="min-width:200px;" name="q" value="{{ request.GET.get }}"  />
                <button class="btn btn-secondary btn-sm" type="submit">🔍 Search</button>
              </form>
            </div>
          </div>
          <div class="table-responsive">
            <table>
              <thead><tr><th>Vehicle No.</th><th>Type</th><th>Brand & Model</th><th>Color</th><th>QR Status</th><th>Actions</th></tr></thead>
              <tbody>
                {% for vehicle in vehicles %}
                <tr>
                  
                  <td><div class="vehicle-num">{{ vehicle.vehicle_number }}</div></td>
                  <td><span class="badge badge-blue">{{ vehicle.vehicle_type}}</span></td>
                  <td><div style="font-weight:600;">{{ vehicle.brand }}</div><div style="font-size:12px;color:var(--text-muted);">{{ vehicle.year_of_manufacture}}</div></td>
                  <td>
   <div style="display:flex;align-items:center;gap:8px;">
      <span style="
          width:16px;
          height:16px;
          border-radius:50%;
          background-color: {{ vehicle.vehicle_color_code }};
          border: 1px solid #ccc;
          display:inline-block;">
      </span>
  
      {{ vehicle.vehicle_color_name }}
  </div>
  </td>
                  <td>
                    {% if vehicle.is_qr_generated %}
                    <div class="qr-status status-active"><div class="qr-dot"></div>QR Generated</div>
                    {% else %}
                    <div class="qr-status status-active"><div class="qr-dot" style="background-color: red;"></div>Pending</div>
                    {% endif %}
                  </td>
                  <td><div class="action-btns">
                    <!-- <button class="btn btn-ghost btn-sm">👁 View</button> -->
                    <!-- <button class="btn btn-ghost btn-sm">✏️ Edit</button> -->
                   <a href="{% url 'qr_create' %}"> <button class="btn btn-primary btn-sm">📱 QR</button></a>
                   <a href="{% url 'delete_vehicle' vehicle.qr_id %}"><button class="btn btn-danger btn-sm">🗑</button></a></div></td>
                  
                </tr>
                {% empty %}
      <tr>
          <td colspan="6" style="text-align:center;padding:20px;color:red;">
              🚫 No vehicle found
          </td>
      </tr>
                {% endfor %}
               
              </tbody>
            </table>
          </div>
        </div>
{% endblock %}